.menu2 {
    display: flex;
    justify-content: space-between;
}


#extra {
    margin-left: 1cm;
}

.left-menu {
    position: relative;
    margin-left: 50%;
    color: white;
    background-color: black;
    width: 50%;
    overflow-x: hidden;

}

.breakfast {
    display: flex;
    gap: 9cm;

}

body {
    margin: 0;
}

.kilimani-img {

    background-image: url(Images/image.png);
    width: 1098px;
    background-size: cover;
    height: 27cm;
    text-align: center;
    position: fixed;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 8cm;
    color: orangered;
}

#menu {
    color: white;
    position: relative;
    top: 7cm;
    font-size: 30px;
}

#big {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;
}

#hash {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;
    /* gap: -2%; */
    
    

}

#ranch {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;
}

#crepe {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around
}

#omlette {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;   
}

.list {
    display: flex;
    gap: 7.5cm;
}

#type {
    display: flex;
    gap: 7.5cm;
}

.soup {
    display: flex;
    justify-content: space-around;
}

.food {
    margin-left: 1cm;
}

.beef {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;  
}

#platter {
    display: flex;
    gap: 5cm;
}

.dessert {
    display: flex;
    position: relative;
    left: 1cm;
    justify-content: space-around;  
    gap: 1cm;   
}

#logo {
    width: 2cm;
    height: 2cm;
}

nav {

    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    margin-left: 1cm;
 



}

.nav ul {
    background-color: black;
    border-radius: 50px;
    width: 20cm;
    height: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 1cm;
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin-top: -8cm;
    padding: 2%;
    position: relative;
    overflow: visible;

}

nav ul li a {
    color: white;
}


.Reservation {
    background-color: gray;
    color: white;
    text-align: center;
    width: 5cm;
    height: 1.5cm;
    border-radius: 35px;
}

.bull {
    margin-left: 17cm;

}

.cofee{
    color: orangered;
    display: flex;
}

.coffee li{
    display: flex;
    color: orangered;
}
.drinks ul{
list-style: none;
}
.drinks-prices ul{
    list-style: none;
}

.list ul{
    list-style: none;
}