body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}
.reviews{
  position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
  
  
}

nav{
    
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    margin-left: 400px;
   

  
  }
  .nav ul{
    background-color: black;
    border-radius: 50px;
    width: 51%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 1cm;
    text-decoration: none;
    list-style-type: none;
    color: white;
    margin-top: 80vh;
    padding: 2%;
  }
  nav ul li a{
    color: white;
  }


  .Reservation{
    background-color: gray;
    color: white;
    text-align: center;
    width: 5cm;
    height: 1.5cm;
    border-radius: 35px;
  }

  .bull{
    margin-left: 17cm;

  }

  #right-angle{
    color: aliceblue;
    right: -1.5vw;
    top: 2cm;
    position: absolute;
  }
  #left-angle{
    color: aliceblue;
    position: absolute;
    left: -1cm;
    top: 1cm;
  }
  #right-quote{
    color: orangered;
    position: absolute;
    left: 38vw;
    top: 4cm;
    font-size: 200%;
  }
  #left-quote{
    color: orangered;
    position: absolute;
    left: -3vw;
    top: -3.5vh;
    font-size: 200%;

  }